<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>


<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Info-currency</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="/">Strona główna</a></li>
            <li class="active"><a href="currencies">Waluty</a></li>
            <li><a href="#">Giełda</a></li>
            <li><a href="#">Papiery wartościowe</a></li>
        </ul>
    </div>
</nav>

<div class="container">
    <div class="jumbotron">
        <h1>Oto kursy walut z dnia dzisiejszego:</h1>
    </div>

    <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Wybierz walutę:
            <span class="caret"></span></button>
        <ul class="dropdown-menu">
            <li><a href="#">EUR</a></li>
            <li><a href="#">USD</a></li>
        </ul>
    </div>
</div>



<div align="center" class="container">
    <table class="table table-striped table-hover table-sm">
        <tr>
            <th> SYMBOL </th>
            <td> {{currencyRates.code}}</td>
        </tr>
        <tr>
            <th> NAZWA</th>
            <td> {{currencyRates.currency}}</td>
        </tr>
        <tr class="success">
            <td> DZISIEJSZE KURSY</td>
        </tr>
        <tr class="active">
            <th> KUPNO</th>
            <td> {{currencyRates.rates.rate.bid }}</td>
        </tr>
        <tr class="danger">
            <th> SPRZEDAŻ</th>
            <td> {{currencyRates.rates.rate.ask }}</td>
        </tr>
    </table>
</div>

</body>

</html>