<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>

<script>
    function getToken() {
        var username = $("#username").val();
        var password = $("#password").val();
        console.log("username: " + username);
        console.log("password: " + password);

        var RequestBody = {"username": username, "password": password};

        var request = $.ajax({
            url: "/api/authenticate",
            type: "POST",
            contentType: "application/json",
            data: JSON.stringify(RequestBody),
            dataType: "json",
            success: function (response, textStatus, jqXHR) {
                if (response) {
                    console.log('response: ', response);
                    if (response.id_token) {
                        console.log('Token: ', response.id_token);
                        hideErrorAlert();
                        sessionStorage.userToken = response.id_token;
                        getUserInfo();
                    }
                    else {
                        showErrorAlert()
                    }
                }
                else {
                    showErrorAlert()
                }
            },
            error: function (errorResponse) {
                showErrorAlert()
            }
        });
    }

    function getUserInfo() {
        var request = $.ajax({
            url: "/api/account",
            type: "GET",
            contentType: "application/json",
            dataType: "json",
            headers: {"Authorization": "Bearer " + sessionStorage.userToken},
            success: function (response, textStatus, jqXHR) {
                if (response) {
                    console.log('response: ', response);
                    if (response.login) {
                        console.log('Token: ', response);
                        hideErrorAlert();
                        writeUserDataToLocalStorage(response);
                        redirectHome()
                    }
                    else {
                        showErrorAlert()
                    }
                }
                else {
                    showErrorAlert()
                }
            },
            error: function (errorResponse) {
                showErrorAlert()
            }
        });
    }

    function showErrorAlert() {
        document.getElementById("loginErrorAlert").style.display = "block";
    }

    function hideErrorAlert() {
        document.getElementById("loginErrorAlert").style.display = "none";
    }

    function redirectHome() {
        window.location.href = '/';
    }

    function writeUserDataToLocalStorage(userData) {
        sessionStorage.userData = JSON.stringify(userData);
    }

    function readUserDataFromLocalStorage() {
        return JSON.parse(sessionStorage.userData);
    }

    function hideLoginOption() {
        console.log('hiding login option');
        if (sessionStorage.userData) {
            console.log('user authorized');
            document.getElementById("loginNavbarOption").style.display = "none";
            document.getElementById("logoutNavbarOption").style.display = "block";
            document.getElementById("accountNavbarOption").style.display = "block";
        }
        else {
            console.log('user NOT authorized');
            document.getElementById("loginNavbarOption").style.display = "block";
            document.getElementById("logoutNavbarOption").style.display = "none";
            document.getElementById("accountNavbarOption").style.display = "none";
        }
    }

    function logout() {
        sessionStorage.userToken = undefined;
        sessionStorage.userData = undefined;
        hideLoginOption();
        redirectHome();
    }
</script>

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Info-currency</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="/">Strona główna</a></li>
            <li><a href="currencies">Waluty</a></li>
            <li><a href="converter">Przelicznik walut</a></li>
            <li style="display: none" id="accountNavbarOption"><a href="account">Profil</a></li>
            <li id="loginNavbarOption" class="active"><a href="login">Zaloguj</a></li>
            <li style="display: none" id="logoutNavbarOption"><a onclick="logout()">Wyloguj</a></li>
        </ul>
    </div>
</nav>

<div class="row">
    <div class="container">
        <div class="col-md-4 col-md-offset-4">
            <h1>Log in</h1>
        </div>
        <div style="display: none" class="col-md-8 col-md-offset-2" id="loginErrorAlert">
            <div aria-hidden="true" class="alert alert-danger"><strong>Failed to sign in!</strong> Please check your
                credentials and try again.
            </div>
        </div>
        <div class="col-md-8 col-md-offset-2">
            <div class="form" role="form">
                <div class="form-group">
                    <label for="username">Username</label>
                    <input aria-invalid="false" class="form-control"
                           id="username" placeholder="Your username" type="text">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input aria-invalid="false" class="form-control"
                           id="password" placeholder="Your password" type="password">
                </div>
                <button type="submit" class="btn btn-primary" onclick="getToken()">Sign in</button>
            </div>
            <p></p>
        </div>
    </div>
</div>


</body>

</html>