<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Info-currency</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="/">Strona główna</a></li>
            <li><a href="currencies">Waluty</a></li>
            <li><a href="converter">Przelicznik walut</a></li>
            <li style="display: none" id="accountNavbarOption"><a href="account">Profil</a></li>
            <li id="loginNavbarOption"><a href="login">Zaloguj</a></li>
            <li style="display: none" id="logoutNavbarOption"><a onclick="logout()">Wyloguj</a></li>
        </ul>
    </div>
</nav>

<div class="container">
    <div class="jumbotron">
        <h1 id="greetingMessageHeader">Witaj Gościu!</h1>
        <p id="greetingMessageParagraph">Zaloguj się aby skorzystać z wszystkich funkcjonalności aplikacji.</p>
    </div>
</div>

<script>
    function readUserDataFromLocalStorage() {
        return JSON.parse(sessionStorage.userData);
    }

    function hideLoginOption() {
        console.log('hiding login option');
        if (sessionStorage.userData) {
            console.log('user authorized');
            document.getElementById("loginNavbarOption").style.display = "none";
            document.getElementById("logoutNavbarOption").style.display = "block";
            document.getElementById("accountNavbarOption").style.display = "block";
            showCustomGreeting();
        }
        else {
            console.log('user NOT authorized');
            document.getElementById("loginNavbarOption").style.display = "block";
            document.getElementById("logoutNavbarOption").style.display = "none";
            document.getElementById("accountNavbarOption").style.display = "none";
            showAnonymusGreeting();
        }
    }
    hideLoginOption();

    function logout() {
        console.log('Cleaning session storage');
        sessionStorage.clear();
        hideLoginOption();
        redirectHome();
    }

    function redirectHome() {
        window.location.href = '/';
    }

    function showCustomGreeting() {
        console.log('UserData: ', readUserDataFromLocalStorage());
        $('#greetingMessageHeader').text("Witaj " + readUserDataFromLocalStorage().firstName + "!");
        document.getElementById("greetingMessageParagraph").style.display = "none";
    }

    function showAnonymusGreeting() {
        $('#greetingMessageHeader').text("Witaj Gościu!");
        document.getElementById("greetingMessageParagraph").style.display = "block";
    }
</script>

</body>

</html>